[Unit]
Description=Hermes host
After=network-online.target
#Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=simple
User=USERPLACEHOLDER
Group=USERPLACEHOLDER
Environment=ENVPLACEHOLDER
ExecStart=/usr/bin/python3 /opt/hermes/bin/start-bot.py
Restart=on-failure
RestartSec=120

[Install]
WantedBy=multi-user.target
