[Unit]
Description=Hermes host
After=network-online.target

[Service]
Type=simple
User=USERPLACEHOLDER
Group=USERPLACEHOLDER
Environment=ENVPLACEHOLDER
ExecStart=/usr/bin/python3 /opt/hermes/bin/start-bot.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
