[Unit]
Description=Hermes server
After=network-online.target

[Service]
User=baronefr
Type=simple
ExecStart=/usr/bin/python3 /opt/hermes/bin/start-bot.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
